.DashboardLayout {
  display: flex;
}

.MainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.DashboardContainer {
  background-color: #181a1b;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.Card {
  background: #2a2d2e;
  padding: 15px; /*20px*/
  border-radius: 8px;
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

h3 {
  /* margin: 5px; */
  padding: 0px 0px 0px 5px;
  text-align: left;
  font-size: 1.1em;
}

p {
  margin: 6px;
  padding: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
}

.LastCard {
  background: #2a2d2e;
  padding: 10px;
  border-radius: 8px;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
}

.Activity {
  background: #2a2d2e;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  margin: 10px;
}

.ListMenu {
  background: #2a2d2e;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
}

.MenueList {
  background-color: #2e2e2e;
  width: 427px;
  padding: 10px;
  color: white;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #3e3e3e;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #4e4e4e;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.goals-icon {
  background-color: #d9534f;
  border-radius: 50%;
}

.dishes-icon {
  background-color: #5bc0de;
  border-radius: 50%;
}

.menus-icon {
  background-color: #5cb85c;
  border-radius: 50%;
}

.arrow {
  margin-left: auto;
  font-size: 20px;
}

.RecentOrders {
  background: #2a2d2e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  flex: 1;
  margin: 10px;
}

.Feedback {
  background: #2a2d2e;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
}

.Lower {
  display: flex;
  justify-content: space-between;
}

.table-container {
  flex: 1;
  margin: 10px;
}

.feedback-table,
.order-table {
  width: 100%;
}

.text {
  text-align: left;
}
