/* src/components/OrderTable.css */
.order-table {
  margin: 0px;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.order-table th:first-child,
.order-table td:first-child {
  border-left: none;
}

.order-table tr:hover {
  background-color: #5a5454;
}
